# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore MacOS system files
.DS_Store

# Ignore Python bytecode files
*.pyc

# Ignore environment files
.env

# Ignore build directories
/dist
/build

